<div class="col-md-10 col-md-offset-1">
	<h2><%= @play.title %></h2>
	<h3>Director: <%= @play.director %></h3>
	<h4><%= @play.category.name %></h4>
	<p class="text-justify"><%= @play.description %></p>
	<div class="links btn-group">
		<% if user_signed_in? %>
			<% if current_user.id == @play.user_id %>
				<%= link_to "Edit", edit_play_path(@play), class: "btn btn-primary btn-xs" %>
				<%= link_to "Delete", play_path(@play), method: :delete, data: {confirm: "Are You sure ?" }, class: "btn btn-danger btn-xs" %>
			<% end %>
		<% end %>
	</div>
</div>